name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository code
    - name: Check out code
      uses: actions/checkout@v6

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12

    # Install dependencies for packaging
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build twine

    # Build the package
    - name: Build the package
      run: python -m build

    # Publish the package to PyPI
    - name: Publish to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: python -m twine upload dist/*
